table,
th,
td,
tr {
  border: 1px solid black;
  border-spacing: 0;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgb(237, 237, 237);
}

.clickableRow:hover {
  background-color: rgb(186, 224, 186);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
